---

  - include: selinux.yml

  - file: path=/opt/fitnesse/FitNesseRoot state=directory owner=jenkins group=jenkins

  - shell: chcon -Rt svirt_sandbox_file_t /opt/fitnesse/FitNesseRoot
    when: selinux_status.rc != 0

  - name: ensure fitnesse container is running
    docker:
      image: "fitnesse:latest"
      memory_limit: 1024MB
      name: "fitnesse"
      pull: missing
      ports:
        - "{{interface}}:{{fitnesse_port}}:80"
      volumes:
        - "/opt/fitnesse/FitNesseRoot:/opt/fitnesse/FitNesseRoot:rw"
      state: reloaded
      pull: missing
      restart_policy: always
    register: start_fitnesse
